<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Post Date</th>
      <th>Network</th>
      <th>Link</th>
      <th>Person</th>
      <th>List</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <% account_person_name = post.try(:account).try(:person).try(:name) %>
        <% filtered_lists = @lists.select { |list| list.persons.pluck(:name).include?(account_person_name) } %>
        <td><%= post.post_date %></td>
        <td><%= post.try(:social_media).try(:name) %></td>
        <td><%= post.link %></td>
        <td><%= account_person_name %></td>
        <td><%= filtered_lists&.pluck(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>